

.name {
	/*font-style : italic;*/
	color : rgb(153, 0, 51);
}

.appellation {
	font-size:14px;
	font-style : italic;
	padding-bottom: 4px;
}

.detail {
	font-size:12px;
	display:inline;
}

.color {
	padding-left:20px;
}

.winAttributes {
	display:inline;
	float:left;
	width:100%;
}

#wineList .item {
	height : 110px;
	/*margin-right: 5px;*/
	vertical-align: middle;
	padding: 10px 10px 10px 10px;
}

.wineItemLine {
	display:block;
	position:relative;
}
.year {
	position:absolute;
	right:32px;
}

.badge.badge-assertive.quantity {
	top:58px;
}


ion-popover-view{
	ion-content{
		overflow: visible!important;
	}
}

#filterTerm{
	margin:0 5px 0 5px;
}



