

/* start Password strength bar style */
ul#strength {
  display:inline;
  list-style:none;
  margin:0;
  margin-left:15px;
  padding:0;
  vertical-align:2px;
}

.point {
  background:#DDD;
  border-radius:2px;
  display:inline-block;
  height:5px;
  margin-right:1px;
  width:20px;
&:last {
   margin:0 !important;
 }
}
/* end Password strength bar style */
.header .col{
    background-color: lightgrey;
}

.hidden{
    display: none;
}

/* Cellar details css */
.stat-label{
  max-width:100px;
}

.stat-content {
   .badge {
    right: 20px;
  }
}

meter {
    /* Reset the default appearance */
    -webkit-appearance: meter;
    height:22px;
    position: absolute;
    width:calc(100% - 172px);
    top: 16px;
    left:110px;
    right: 62px;
}

meter::-webkit-meter-bar {
  background: #EEE;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
  border-radius: 4px;
}

meter::-webkit-meter-optimum-value, 
meter::-webkit-meter-suboptimum-value, 
meter::-webkit-meter-even-less-good-value {
  border-radius: 4px;
  background: #990033;
}
