

/* start Password strength bar style */
ul#strength {
  display:inline;
  list-style:none;
  margin:0;
  margin-left:15px;
  padding:0;
  vertical-align:2px;
}

.point {
  background:#DDD;
  border-radius:2px;
  display:inline-block;
  height:5px;
  margin-right:1px;
  width:20px;
&:last {
   margin:0 !important;
 }
}
/* end Password strength bar style */
.header .col{
    background-color: lightgrey;
}

.hidden{
    display: none;
}

/* Cellar details css */
.stat-label{
  max-width:100px;
}

.stat-content {
   .badge {
    right: 20px;
  }
}

meter.simple-meter {
    /* Reset the default appearance */
    -webkit-appearance: meter;
    height:18px;
    position: absolute;
    width:calc(100% - 172px);
    top: 17px;
    left:110px;
    right: 62px;

    &::-webkit-meter-bar {
      background: #EEE;
      box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
    }

    &::-webkit-meter-optimum-value,
    &::-webkit-meter-suboptimum-value,
    &::-webkit-meter-even-less-good-value {
      background: #990033;
    }

}

input.ng-invalid, select.ng-invalid{
  box-shadow: #F00 0px 0px 1.5px 1px;
}


#formList{
  select{
    right:2px;
    top:2px;
    bottom:2px;
    width: 50%;
  }
  input{
    margin-right: 1px;
  }
}

.badge.badge-assertive{
  background-color: #cc0446;
}

.input-label{
  width: 50%;
}
