{
    "extends": "../.eslintrc",
    "env": {
        "node": false,
        "browser": true
    },
    "globals": {
        "angular": true,
        "ionic": true,
        "localforage": true
    },
    "rules": {
      "space-before-function-paren": [2, "never"]
    }
}