{
    "extends": "../.eslintrc",
    "env": {
        "node": false,
        "browser": true
    },
    "globals": {
        "angular": true,
        "ionic": true,
        "localforage": true
    },
    "rules": {
        "indent": [
            "error",
            4
        ],
        "linebreak-style": [
            "error",
            "windows"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error"
        ]
    }
}