<ion-view view-title="{{'addToCellar.title' | translate}}">
  <ion-content>
  	<div class="card list">
		<label class="item" >
			<span translate="cavaVinApp.wine.name">Nom</span> : 
			<span>{{vm.userWine.vintage.wine.name}}</span>
		</label>

		<label class="item" >
            <span translate="cavaVinApp.wine.appellation">Appellation</span> :
			<span>{{vm.userWine.vintage.wine.appellation}}</span>
		</label>

		<label class="item" >
            <span translate="cavaVinApp.wine.producer">Producteur</span> :
            <span>{{vm.userWine.vintage.wine.producer}}</span>
        </label>

		<label class="item" >
			<span translate="cavaVinApp.wine.region">Région</span> :
			<span>{{vm.userWine.vintage.wine.region.regionName}}</span>
		</label>

		<label class="item" >
			<span translate="cavaVinApp.wine.color">Couleur</span> :
			<span>{{vm.userWine.vintage.wine.color.colorName}}</span>
		</label>

		<label class="item" >
			<span translate="cavaVinApp.wine.year">Année</span> :
			<span>{{vm.userWine.vintage.year.number}}</span>
		</label>
  	</div>
  	<form name="$parent.form">
	  	<div class="list">

	  		<label class="item item-input" >
				<span class="input-label"  translate="cavaVinApp.wine.minKeep" >Garde minimale</span>
				<input type="number" step="1" ng-model="vm.userWine.minKeep">
			</label>

			<label class="item item-input" >
				<span class="input-label" translate="cavaVinApp.wine.maxKeep" >Garde maximale</span>
				<input type="number" step="1" ng-model="vm.userWine.maxKeep">
			</label>

	  		<label class="item item-input" >
				<span class="input-label" translate="cavaVinApp.wineInCellar.quantity" >Quantité</span>
				<input type="number" ng-model="vm.userWine.quantity" required>
			</label>

			<label class="item item-input" >
				<span class="input-label" translate="cavaVinApp.wineInCellar.location" >Emplacement</span>
				<input type="text" ng-model="vm.userWine.location">
			</label>

			<label class="item item-input" >
				<span class="input-label" translate="cavaVinApp.wineInCellar.price" >Prix</span>
				<input type="number" step="0.01" ng-model="vm.userWine.price">
			</label>

			<label class="item item-input" >
				<span class="input-label" translate="cavaVinApp.wineInCellar.comments" >Commentaires</span>
				<input type="text" ng-model="vm.userWine.comments">
			</label>

		</div>
		<button type="button" ng-click="vm.submit()" ng-disabled="form.$invalid || !vm.userWine.quantity" class="button button-block button-positive" translate="entity.action.add" >Ajouter</button>
   </form>
  </ion-content>
</ion-view>
