<ion-view view-title="{{'global.menu.cellarDetails' | translate}}">
    <ion-content class="stat-content">
		<div class="card">
            <div class="item item-text-wrap">
                <div>
                    Capacité
                </div>
                <span class="badge badge-assertive">{{vm.cellar.capacity}}</span>
            </div>
			<div class="item item-text-wrap">
                <div class="stat-label">
                    Bouteille(s)
                </div>
                <span class="badge badge-assertive">{{vm.sum}}</span>
                <meter value="{{vm.sum/vm.cellar.capacity}}"></meter>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                Bouteilles par region
            </div>
            <div class="item item-text-wrap" ng-repeat="stat in vm.wineByRegion | orderBy:'sum' : true">
                <div class="stat-label">
                    {{stat.region}}
                </div>
                <span  class="badge badge-assertive">{{stat.sum}}</span>
                <meter class="col-65" value="{{stat.sum/vm.sum}}"></meter>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                Bouteilles par couleur
            </div>
            <div class="item item-text-wrap" ng-repeat="stat in vm.wineByColor | orderBy:'sum' : true">
                <div class="stat-label">
                    {{stat.color}}
                </div>
                <span  class="badge badge-assertive">{{stat.sum}}</span>
                <meter value="{{stat.sum/vm.sum}}"></meter>
            </div>
        </div>
    </ion-content>
</ion-view>
