<ion-view view-title="Tableau de bord">
  <ion-content>
	  <div class="list">

		  <li class="item">
		    Total bouteilles
		    <span class="badge">{{nbVin}}</span>
		  </li>

		  <div class="item item-divider">
		    Bouteilles par Region
		  </div>
		  <li class="item" ng-repeat="stat in nbVinByRegion | orderBy:'sum' : true" >
		    <span class="badge">{{stat.sum/nbVin*100 | number:0}} %</span>
		    {{stat.region}}
		  </li>

		  <div class="item item-divider">
		    Bouteilles par Couleur
		  </div>
		  <li class="item" ng-repeat="stat in nbVinByColor | orderBy:'sum' : true" >
		    <span class="badge">{{stat.sum/nbVin*100 | number:0}} %</span>
		    {{stat.color}}
		  </li>

	  </div>
  </ion-content>
</ion-view>
