<label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="search" placeholder="Mot clé" ng-model="vm.newSearchWine">
</label>

<label class="item item-input item-select">
    <div class="input-label" translate="cavaVinApp.wine.region">
        Région
    </div>
    <select ng-model="vm.newSearchRegion" ng-options="stat.region as stat.region for stat in vm.wineByRegion">
      <option value=""></option>
    </select>
</label>

<label class="item item-input item-select">
    <div class="input-label" translate="cavaVinApp.wine.color">
        Couleur
    </div>
    <select ng-model="vm.newSearchColor" ng-options="stat.color as stat.color for stat in vm.wineByColor">
      <option value=""></option>
    </select>
</label>

<label class="item item-input item-select">
    <div class="input-label" translate="list.sortBy">
        Trier par
    </div>
    <select ng-if="!vm.isWineInCellarFilter" ng-model="vm.newSortWine">
        <option value="wine.name">Nom</option>
        <option value="wine.appellation">Appellation</option>
        <option value="wine.producer">Domaine</option>
        <option value="year">Année</option>
        <option value="wine.region.regionName">Région</option>
        <option value="wine.color.colorName">Couleur</option>
    </select>
    <select ng-if="vm.isWineInCellarFilter" ng-model="vm.newSortWine">
      <option value="vintage.wine.name">Nom</option>
      <option value="vintage.wine.appellation">Appellation</option>
      <option value="vintage.wine.producer">Domaine</option>
      <option value="vintage.year">Année</option>
      <option value="vintage.wine.region.regionName">Région</option>
      <option value="vintage.wine.color.colorName">Couleur</option>
      <option value="quantity">Quantité</option>
      <option value="apogeeYear">Apogée</option>
    </select>
</label>
