<label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="search" placeholder="Mot clé" ng-model="vm.searchWine">
</label>

<label class="item item-input item-select">
    <div class="input-label" translate="cavaVinApp.wine.region">
        Région
    </div>
    <select ng-model="vm.searchRegion" ng-options="stat.region as stat.region for stat in vm.wineByRegion">
        <option value=""></option>
    </select>
</label>

<label class="item item-input item-select">
    <div class="input-label" translate="cavaVinApp.wine.color">
        Couleur
    </div>
    <select ng-model="vm.searchColor" ng-options="stat.color as stat.color for stat in vm.wineByColor">
        <option value=""></option>
    </select>
</label>

<label class="item item-input item-select">
    <div class="input-label">
        Trier par
    </div>
    <select ng-model="vm.sortWine">
        <option value="vintage.wine.name">Nom</option> 
        <option value="vintage.wine.appellation">Appellation</option> 
        <option value="vintage.wine.producer">Domaine</option>
        <option value="vintage.year.number">Année</option>
        <option value="vintage.wine.region.regionName">Région</option>
        <option value="vintage.wine.color.colorName">Couleur</option>
        <option ng-if="vm.isWineInCellarFilter" value="quantity">Quantité</option>
        <option ng-if="vm.isWineInCellarFilter" value="apogee">Apogée</option>
    </select>
</label>