<ion-view view-title="{{'global.menu.home' | translate}}">
    <ion-content>
        <div class="card">
            <div ng-switch="vm.isAuthenticated()">
                <div ng-switch-when="true">
                    <div class="item item-divider">
                        <span translate="home.logged.message" translate-values="{username: '{{vm.account.login}}'}"> Welcome, {{vm.account.login}}!</span>
                    </div>
                    <div class="item item-text-wrap" ng-if="!vm.cellar">
                        <div translate="home.cellar.undefined" translate-compile >
                            <a class="alert-link" href="" ng-click="vm.openModal()" >Create your CavaVin</a>
                        </div>
                    </div>
                    <div ng-if="vm.cellar">
                        <div class="item item-text-wrap">
                          <span class="badge badge-assertive">{{vm.totalWine}}</span>
                          Bouteilles
                        </div>

                        <div class="item item-divider">
                            Bouteilles par region
                        </div>
                        <div class="item item-text-wrap" ng-repeat="stat in vm.wineNbByRegion | orderBy:'sum' : true">
                            <span  class="badge badge-assertive">
                                {{stat.sum/vm.totalWine*100 | number:0}} %
                            </span>
                                {{stat.region}}
                        </div>

                        <div class="item item-divider">
                            Bouteilles par couleur
                        </div>

                        <div class="item item-text-wrap" ng-repeat="stat in vm.wineNbByColor | orderBy:'sum' : true">
                            <span  class="badge badge-assertive">
                                {{stat.sum/vm.totalWine*100 | number:0}} %
                            </span>
                                {{stat.color}}
                        </div>
                    </div>
                </div> 
                <div ng-switch-when="false">
                    <div class="item item-divider">
                        <span translate="home.title">Welcome to your CavaVin !</span>
                    </div>
                    <div class="item item-text-wrap">
                        <div class="alert alert-warning" translate="global.messages.info.authenticated" translate-compile>
                            <a class="alert-link" href="" ng-click="vm.login()">Sign in</a>
                        </div>

                        <div class="alert alert-warning" translate="global.messages.info.register" translate-compile>
                            <a class="alert-link" ui-sref="register">Register a new account</a>
                        </div>
                    </div>
                </div>
                <!-- <img width="100%" src="main/assets/images/hipster2x.png"> -->
            </div>
        </div>
    </ion-content>
</ion-view>
