<ion-view view-title="{{'global.menu.pinnedList' | translate}}">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="data in vm.wines">
                <div class="winAttributes" on-tap=vm.openModal(data)>
                  <span class="year">{{data.vintage.year.number}}</span>
                  <span class="wineItemLine name">{{data.vintage.wine.name}}</span>
                  <span class="wineItemLine appellation">{{data.vintage.wine.appellation}}</span>
                  <div class="wineItemLine detail">
                    <span>{{data.vintage.wine.region.regionName}}</span>
                    <span class="color">{{data.vintage.wine.color.colorName}}</span>
                  </div>
                </div>
                <ion-option-button class="button button-positive" ng-click="vm.addToCellar(data)">Add to cellar</ion-option-button>
                <ion-option-button class="button button-assertive" ng-click="vm.removePinned(data.id)">Delete</ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar>
        <button class="button icon ion-android-options button-positive pull-right" ng-click="vm.openFilter()"></button>
    </ion-footer-bar>
</ion-view>
