<ion-view view-title="{{'global.menu.pinnedList' | translate}}">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="data in vm.wines | orderBy:vm.sortWine:vm.sortReverse | filter:vm.searchWine | filter:vm.searchRegion | filter:vm.searchColor track by data.id">
                <div class="winAttributes" on-tap=vm.openModal(data)>
                  <span class="year">{{data.wine.year}}</span>
                  <span class="wineItemLine name">{{data.wine.name}}</span>
                  <span class="wineItemLine appellation">{{data.wine.appellation}}</span>
                  <div class="wineItemLine detail">
                    <span>{{data.wine.region.regionName}}</span>
                    <span class="color">{{data.wine.color.colorName}}</span>
                  </div>
                </div>
                <ion-option-button class="button icon button-positive ion-plus-round" ng-click="vm.addToCellar(data)"></ion-option-button>
                <ion-option-button class="button icon button-assertive ion-trash-b" ng-click="vm.removePinned(data.id)"></ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar>
        <button class="button icon button-positive" ng-class="vm.sortReverse ? 'ion-arrow-down-c' : 'ion-arrow-up-c'" ng-click="vm.sortReverse=!vm.sortReverse"></button>
        <a id="filterTerm" class="button icon-right ion-close-round button-outline button-dark" ng-if="vm.searchWine" ng-click="vm.searchWine=''">{{vm.searchWine}}</a>
        <a id="filterTerm" class="button icon-right ion-close-round button-outline button-dark" ng-if="vm.searchRegion" ng-click="vm.searchRegion=''">{{vm.searchRegion}}</a>
        <a id="filterTerm" class="button icon-right ion-close-round button-outline button-dark" ng-if="vm.searchColor" ng-click="vm.searchColor=''">{{vm.searchColor}}</a>
        <button class="button icon ion-android-options button-positive pull-right" ng-click="vm.openFilter()"></button>
    </ion-footer-bar>
</ion-view>
