<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title" translate="list.modal.details.title">Details vin</h1>
        <button class="button button-clear icon ion-close-circled" ng-click="vm.modal.hide()"></button>
    </ion-header-bar>
    <ion-content class="padding">
		
        <div class="card list">
            <label class="item" >
                <span translate="cavaVinApp.wine.name">Nom</span> : 
                <span>{{vm.selected.vintage.wine.name}}</span>
            </label>

            <label class="item">
                <span translate="cavaVinApp.wine.appellation">Appellation</span> :
                <span>{{vm.selected.vintage.wine.appellation}}</span>
            </label>

            <label class="item" >
                <span translate="cavaVinApp.wine.producer">Producteur</span> :
                <span>{{vm.selected.vintage.wine.producer}}</span>
            </label>

            <label class="item">
                <span translate="cavaVinApp.wine.region">Région</span> :
                <span>{{vm.selected.vintage.wine.region.regionName}}</span>
            </label>

            <label class="item">
                <span translate="cavaVinApp.wine.color">Couleur</span> :
                <span>{{vm.selected.vintage.wine.color.colorName}}</span>
            </label>

            <label class="item">
                <span translate="cavaVinApp.wine.year">Année</span> :
                <span>{{vm.selected.vintage.year.number}}</span>
            </label>

             <label class="item">
                <span translate="cavaVinApp.wine.minKeep">Garde minimale</span> :
                <span>{{vm.selected.minKeep}}</span>
            </label>

             <label class="item">
                <span translate="cavaVinApp.wine.maxKeep">Garde maximale</span> :
                <span>{{vm.selected.maxKeep}}</span>
            </label>

            <label class="item">
                <span translate="cavaVinApp.wineInCellar.apogee">Apogée</span> :
                <span>{{vm.selected.apogee}}</span>
            </label>

             <label class="item">
                <span translate="cavaVinApp.wineInCellar.quantity">Quantité</span> :
                <span>{{vm.selected.quantity}}</span>
            </label>

             <label class="item">
                <span translate="cavaVinApp.wineInCellar.price">Prix</span> :
                <span>{{vm.selected.price}}</span>
            </label>

             <label class="item">
                <span translate="cavaVinApp.wineInCellar.comments">Commentaires</span> :
                <span>{{vm.selected.comments}}</span>
            </label>
        </div>
        <button ng-click="vm.modal.hide()" class="button button-block button-positive" translate="entity.action.back">Retour</button>
	</ion-content>
</ion-modal-view>