<ion-view class="cave-list-view" view-title="{{'cavaVinApp.wine.catalog.title' | translate}}">
	<ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-plus-round" ng-click="vm.createWine(-1)">
      </button>
    </ion-nav-buttons>

	<ion-content>	
		<ion-list>
		  <ion-item ng-repeat="wine in vm.result" on-tap="vm.selectVintage(wine)">
		    <div class="winAttributes">
				<span class="wineItemLine name">
					{{wine.name}}
				</span>
				<span class="wineItemLine appellation">
					{{wine.appellation}}
				</span>
				<div class="wineItemLine detail">
					<span>
						{{wine.producer}}
					</span>
				</div>
				<div class="wineItemLine detail">
					<span>
						{{wine.region.regionName}}
					</span>
					<span class="color">
						{{wine.color.colorName}}
					</span>
				</div>
			</div>
		  </ion-item>

		  <ion-item ng-show="vm.noContent === true">
		  		<span translate="cavaVinApp.wine.home.noContent" translate-values="{query: '{{vm.query}}'}">Aucun élément trouvé pour '{{vm.query}}'</span>
		  </ion-item>
		</ion-list>

		<ion-infinite-scroll
		  ng-if="vm.page < vm.lastPage"
		  immediate-check="false"
		  on-infinite="vm.loadPage(vm.page + 1)">
		</ion-infinite-scroll>

				
	</ion-content>
	<ion-footer-bar>
	    <button class="button icon ion-search button-positive pull-right" ng-click="vm.openSearch()"></button>
	</ion-footer-bar>
</ion-view>
