<ion-view view-title="Recherche de vin">
	<ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-plus-round" ng-click="vm.createWine(-1)">
      </button>
    </ion-nav-buttons>

  <ion-content>	

	<div class="item item-input-inset">
	    <label class="item-input-wrapper">
		    <input type="text" placeholder="Rechercher un vin" ng-model="vm.query" />
		</label>
		<button class="button button-small button-positive icon ion-search" ng-click="vm.submit(vm.query)"/>
	</div>


	<ion-list>
	  <ion-item ng-repeat="wine in vm.result" on-tap="vm.selectVintage(wine)">
	    <div class="winAttributes">
			<span class="wineItemLine name">
				{{wine.name}}
			</span>
			<span class="wineItemLine appellation">
				{{wine.appellation}}
			</span>
			<div class="wineItemLine detail">
				<span>
					{{wine.region.regionName}}
				</span>
				<span class="secondItem">
					{{wine.color.colorName}}
				</span>
			</div>
			<div class="wineItemLine detail">
				<span>
					{{wine.year}}
				</span>
			</div>
		</div>
	  </ion-item>

	  <ion-item ng-show="!vm.result">
			Rechercher un vin dans notre base de données
	  </ion-item>
	  <ion-item ng-show="vm.result.length == 0">
	  		Aucun élément trouvé pour : {{vm.query}}
	  </ion-item>
	  <ion-item href="#/app/form/-1" class="item item-icon-left" ng-show="vm.result">
			<i class="icon ion-plus-round"></i>
			Nouveau vin
	  </ion-item>
	</ion-list>
				
  </ion-content>
</ion-view>
